h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

li, a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

hr {
    border-top: 5px solid black;
    width: 20%;
    border-radius: 20px;
    margin-top: -40px;
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 10% 
}

.nav-logo {
    cursor: pointer;
    margin-right: auto;
    width: 70px;
    height: 70px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #2578B5;
}

#welcome-section {
    text-align: center;
    background-color: #2578B5;
    padding: 30px 0px 0px 0px;
    height: 100vh;
    margin-bottom: -50px;
}

#avatar {
    width: 20%;
    height: auto;
    transition: transform .5s ease;
    cursor: pointer;
}

#avatar:hover {
    transform: scale(1.1);
}

#projects {
    background-color: #85B7C6;
    padding-top: 30px;
    padding-bottom: 30px;
}

#portfolio-cont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-title {
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    width: 700px;
    margin: 40px auto 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project-title:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

.project-img img {
    width: 600px;
    height: auto;
}

.project-text {
    text-align: center;
}

.project-text button {
    background-color: white;
    color: black;
    border: 2px solid #85B7C6;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: transform .5s ease;
    cursor: pointer;
}

.project-text button:hover {
    background-color: #85B7C6;
    color: white;
    transform: scale(1.1);
}

#contact {
    background-color: #2578B5;
    padding: 20px;
}

#form-cont {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#email, #message {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

#submit {
    background-color: white;
    color: black;
    border: 2px solid #2578B5;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: transform .5s ease;
    cursor: pointer;
}

#submit:hover {
    background-color: #2578B5;
    color: white;
    transform: scale(1.1);
}

#contact-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.logo {
    height: 100px;
    width: 100px;
    transition: transform .5s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.logo:hover {
    transform: scale(1.1);
}

@media (max-width: 1600px) {

    #portfolio-cont {
        width: 100%;
    }
    
    .project-title {
        width: 500px;
        margin: 40px auto 20px;
    }
    
    .project-img img {
        width: 500px;
        height: auto;
    }
}

@media (max-width: 900px) {
    
    .project-title {
        width: 350px;
        margin: 40px auto 20px;
    }
    
    .project-img img {
        width: 400px;
        height: auto;
    }

    #form-cont {
        width: 90%;
    }
}
